@{
    ViewBag.Title = "About";
}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="contact">
    <div class="container-fluid">
        <div class="col">
            <div class="col-lg-12">
                <div class="contact-info" style="display: flex;">
                    <div class="col-lg-6">
                        <h1 class="col-lg-12">
                            Hisaka - Nơi mua sắm mỹ phẩm, chăm sóc da, sức khỏe uy tín hàng đầu Việt Nam
                        </h1>
                        <p class="col-lg-12">
                            Hisaka là một hệ thống cửa hàng chuyên cung cấp các sản phẩm mỹ phẩm, chăm sóc da, sức khỏe chính hãng, uy tín hàng đầu Việt Nam. Với sứ mệnh "Nâng tầm nhan sắc Việt",
                            Hisaka luôn nỗ lực mang đến cho khách hàng những sản phẩm chất lượng cao, giá cả phải chăng, cùng với dịch vụ chăm sóc khách hàng tận tình, chu đáo.
                        </p>
                        <p class="col-lg-12">
                            Hisaka ra đời năm 2023 với mong muốn trở thành một địa chỉ mua sắm mỹ phẩm, chăm sóc da, sức khỏe đáng tin cậy cho mọi khách hàng.
                            Với đội ngũ nhân viên chuyên nghiệp, giàu kinh nghiệm, Hisaka luôn sẵn sàng tư vấn, giải đáp mọi thắc mắc của khách hàng một cách tận tình, chu đáo.
                        </p>
                        <p class="col-lg-12">
                            Tại Hisaka, khách hàng có thể tìm thấy đa dạng các sản phẩm mỹ phẩm, chăm sóc da, sức khỏe đến từ các thương hiệu nổi tiếng trên thế giới như:
                            <ul>
                                <li>
                                    Mỹ phẩm: Laneige, Innisfree, The Face Shop, Sulwhasoo,...
                                </li>
                                <li>
                                    Chăm sóc da: Dermalogica, La Roche-Posay, Vichy, Obagi,...
                                </li>
                                <li>
                                    Sức khỏe: Nature's Way, Blackmores, Puritan's Pride,...
                                </li>
                            </ul>
                        </p>
                        <p class="col-lg-12">
                            Các sản phẩm tại Hisaka đều được nhập khẩu chính hãng, có đầy đủ giấy tờ chứng nhận nguồn gốc xuất xứ. Hisaka cam kết mang đến cho khách hàng những sản phẩm chất lượng cao, an toàn cho sức khỏe.
                        </p>
                        <p class="col-lg-12">
                            Ngoài ra, Hisaka còn thường xuyên tổ chức các chương trình khuyến mãi, ưu đãi hấp dẫn dành cho khách hàng. Đây là cơ hội để khách hàng có thể mua sắm những sản phẩm chất lượng với giá cả phải chăng.
                            Nếu bạn đang tìm kiếm một địa chỉ mua sắm mỹ phẩm, chăm sóc da, sức khỏe uy tín, chất lượng, hãy đến với Hisaka. Hisaka chắc chắn sẽ mang đến cho bạn những trải nghiệm mua sắm tuyệt vời.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/Content/img/AboutImage.png" width="100%"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>